@{
    ViewData["Title"] = "About Patisserie";
}

<div class="row about-us-page">
    <div class="col-7 about-us-form">
        <h3> About Patisserie </h3>
        <br /> 
        <p>
            Welcome to our Patisserie Bakery, where passion for exquisite pastries meets the art of baking. We take pride in crafting delectable creations that delight both the eyes and the palate. Step into our world of irresistible aromas, mouthwatering flavors, and unparalleled craftsmanship. <br /> <br />

            At our Patisserie Bakery, we believe that every bite should be a moment of pure bliss. That's why we source only the finest ingredients, meticulously selecting each component to ensure the highest quality and taste. From premium chocolates and freshly picked fruits to delicate spices and rich creams, every ingredient is thoughtfully chosen to create a symphony of flavors in our pastries. <br /> <br />

            Our team of talented bakers and pastry chefs combines their expertise and creativity to bring you a diverse range of treats that cater to every indulgence. From delicate macarons with their crisp shells and luscious fillings to flaky croissants that transport you to the streets of Paris, each item is crafted with precision and passion.<br /> <br />

            We believe that beauty is as important as taste. That's why we take great care in the presentation of our pastries. Each creation is a work of art, meticulously adorned with intricate designs, delicate drizzles, and vibrant colors. We strive to create an experience that not only satisfies your cravings but also ignites your senses and brings joy to your day.<br /> <br />

            Whether you're celebrating a special occasion, treating yourself to a well-deserved indulgence, or simply looking to brighten your day with a sweet delight, our Patisserie Bakery is here to serve you. We invite you to immerse yourself in the world of heavenly flavors, exquisite textures, and the undeniable magic of our artisanal pastries.<br /> <br />

            Visit us today and let us take you on a journey through the world of taste and elegance. From the first bite to the last, we aim to create memories and moments that will linger on your palate and in your heart.
        </p>
    </div>
    <div class="col-5">
        @*<img src="~/images/cakeAboutUs01.jpg" />*@
    </div>
</div>