@model Patisserie.Models.DB.Member

@{
    ViewData["Title"] = "Edit";
}

<h3>Create Member</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MemberId" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <br />
            <label asp-for="Membership" class="control-label"></label>
            <div class="form-floating">
                <select asp-for="Membership" class="form-control" autocomplete="Membership" aria-required="true" required>
                    <option disabled selected value="">Select membership type</option>
                    <option value="Gold">Gold</option>
                    <option value="Silver">Silver</option>
                    <option value="Bronze">Bronze</option>
                </select>
                <span asp-validation-for="Membership" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MembershipExpiry" class="control-label"></label>
                <input asp-for="MembershipExpiry" class="form-control" type="date" />
                <span asp-validation-for="MembershipExpiry" class="text-danger"></span>
            </div>

            <br />
            <label asp-for="MembershipDuration" class="control-label"></label>
            <div class="form-floating">
                <select asp-for="MembershipDuration" class="form-control" autocomplete="MembershipDuration" aria-required="true" required>
                    <option disabled selected value="">Select membership duration</option>
                    <option value="4">4 Months</option>
                    <option value="6">6 Months</option>
                    <option value="12">12 Months</option>
                </select>
                <span asp-validation-for="MembershipDuration" class="text-danger"></span>
            </div>
    

            <br />
            <div class="form-group">
                <button type="submit" class="btn  btn-success" style="margin-right:10px">Save</button>
                <a asp-action="Index" class="btn btn-info">Back to list</a>
            </div>
        </form>
    </div>
</div>

<br />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
