@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "Roles";
}

 @if (User.IsInRole("Administrator"))
{
    <h4 class="mb-3">Manage role</h4>
    <p>
        <a class="btn btn-success btn-primary mb-2" asp-action="CreateRole"><i class="fa-sharp fa-solid fa-circle-plus"></i> Create Role</a>
    </p>
}



    @if (Model.Count() > 0)
    {
        <table class="table col-3">
            <thead>
                <tr>
                <td><h5><b>Role</b></h5></td>
                  <td></td>
                </tr>
            </thead>
            @foreach (var role in Model)
            {
            <tbody>
                    <tr>
                        <td>@role.Name</td>
                        <td>
                        @if (User.IsInRole("Administrator"))
                        {
                            <a asp-action="EditRole" asp-route-id="@role.Id" class="btn btn-info btn-sm button_actions">Edit</a>
                            <a asp-action="DeleteRole" asp-route-id="@role.Id" class="btn btn-danger btn-sm button_actions">Delete</a>
                        }
                    </td>
                    </tr>
                </tbody>
            }
        </table>
    }
    else
    {
        <h5>No roles found.</h5>
    }
