@model Patisserie.Models.DB.Product

<h3>Add to Cart</h3>

<div>
    <h4>@Model.Name</h4>
    <p>Price: @Model.Price.ToString("c")</p>
</div>

<form asp-action="AddToCart" asp-controller="Cart" method="post">
    <input type="hidden" asp-for="ProductId" />
    <div class="form-group">
        <label for="quantity">Quantity:</label>
        <input type="number" class="form-control" id="quantity" name="quantity" value="1" min="1" required />
    </div>
    <button type="submit" class="btn btn-primary">Add to Cart</button>


</form>