@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<!--modified register page to show as a card design-->
<div class="container-fluid h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card text-white bg-primary" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
                    <h4 class="fw-bold mb-2 text-uppercase">Register</h4>
                    <p class="text-white">Please enter the necessary details</p>

                    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <hr />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-floating mb-2">
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" required />
                            <label asp-for="Input.Email"></label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>

                        <!--Adding the custom fields-->
                        <div class="form-floating mb-2">
                            <input asp-for="Input.FirstName" class="form-control" autocomplete="FirstName" aria-required="true" required />
                            <label asp-for="Input.FirstName">First Name</label>
                            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                        </div>

                        <div class="form-floating mb-2">
                            <input asp-for="Input.LastName" class="form-control" autocomplete="LastName" aria-required="true" required>
                            <label asp-for="Input.LastName">Last Name</label>
                            <span asp-validation-for="Input.LastName" class="text-danger"></span>
                        </div>

                        <div class="form-floating mb-2">
                            <select asp-for="Input.Membership" class="form-control" autocomplete="Membership" aria-required="true" required>
                                <option disabled selected value="">Select membership type</option>
                                <option value="Gold">Gold</option>
                                <option value="Silver">Silver</option>
                                <option value="Bronze">Bronze</option>
                            </select>
                            <span asp-validation-for="Input.Membership" class="text-danger"></span>
                        </div>

                        <div class="form-floating mb-2">
                            <select asp-for="Input.MembershipDuration" class="form-control" autocomplete="MembershipDuration" aria-required="true" required>
                                <option disabled selected value="">Select membership duration</option>
                                <option value="4">4 Months</option>
                                <option value="6">6 Months</option>
                                <option value="12">12 Months</option>
                            </select>
                            <span asp-validation-for="Input.MembershipDuration" class="text-danger"></span>
                        </div>

                        <div class="form-floating mb-2">
                            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" required />
                            <label asp-for="Input.Password"></label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-2">
                            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" required />
                            <label asp-for="Input.ConfirmPassword"></label>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-info">Register</button>
                    </form>
                    <br />
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div class="d-flex justify-content-center">
                            
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="w-100 btn btn-lg btn-danger" name="provider" value="@provider.Name">@provider.DisplayName</button>
                                }
                           
                        </div>
                    </form>
                </div>

                <p style="text-align: center;">
                    <a id="forgot-password" asp-page="./ForgotPassword" style="color: white;">Forgot your password?</a>
                </p>
                <p style="text-align: center;">
                    <a id="resend-confirmation" asp-page="./ResendEmailConfirmation" style="color: white;">Resend email confirmation</a>
                </p>


            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
