@model Patisserie.Models.DB.Product

@{
    ViewData["Title"] = "Edit";
}

<h3>Edit product</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" required/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <!--for tinymce-->
                <textarea asp-for="Description" cols="20" rows="3" class="form-control" required></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" required/>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <!--display category name-->
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" required>

                    @foreach (var productCat in (SelectList)ViewData["CategoryId"])
                    {
                        <option value="@productCat.Value">@productCat.Text</option>
                    }
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Image" class="control-label">Change Image</label>
                <input asp-for="Image" type="file" accept="image/jpeg, image/png" class="form-control">
                <span asp-validation-for="Image" class="text-danger"></span>

                <!-- if no existing image in database-->
                <br />
                @if (string.IsNullOrEmpty(Model.Image))
                {
                    <!--hide existing image label-->
                    <style>
                        .hidden-label {
                            display: none;
                        }
                    </style>
                }
        
                else
                {
                    <label asp-for="Image" class="control-label hidden-label">Existing image</label>
                    <!--display the matching image-->
                    <div>
                        <img src="@Url.Content("~/uploads/" + Model.Image)" alt="Product Image" class="existing-image" width="350" height="250" />
                    </div>
                }       
            </div>


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-warning">Back to list</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<!--for tinyMCE-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.0.20/tinymce.min.js"></script>

<script type="text/javascript">
    tinymce.init({
        forced_root_block: "",
        selector: 'textarea',
        plugins: "emoticons textcolor",
        toolbar: "undo redo styleselect bold italic emoticons forecolor backcolor fontselect",
        width: 500,
        height: 150,
        resize: 'both',
    });
</script>