@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container">
    <h3>Website Disclaimer</h3>
    <p>Please note that this website is created solely for educational purposes as part of a course project and is not a real bakery or business. The content, including images and descriptions, are sourced from free image libraries and are used for demonstration and learning purposes only.</p>
    <p>The purpose of this website is to showcase web development skills and simulate the functionality and design of a bakery website. Any products, promotions, or services mentioned on this site are purely fictional and do not represent actual offerings.</p>
    <p>We appreciate your understanding that this website is not operational and cannot process real orders or provide real services. If you have any questions or inquiries, please feel free to reach out, and we will be happy to assist you with any educational-related queries.</p>
    <p>Thank you for visiting and exploring this educational project website!</p>
</div>