@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container">
    <h3 class="mb-5 mt-3" style="color:#2C3E50;">Website Disclaimer</h3>
    <p>Please note that this website is created solely for educational purposes as part of Full Stack Development project and is not a real bakery or business. The content, including images and descriptions, are sourced from free image libraries and are used for demonstration and learning purposes only.</p>
    <p>The purpose of this website is to showcase web development skills and simulate the functionality and design of a bakery website. Any products, promotions, or services mentioned on this site are purely fictional and do not represent actual offerings.</p>
    <p>Thank you for visiting and exploring this Patisserie bakery shop website!</p>
</div>